/* Общие стили для тела страницы */
body {
    font-family: Involve, sans-serif; /* Шрифт страницы */
    margin: 20px; /* Отступы вокруг содержимого */
    background-color: #E0FBFC; /* Цвет фона страницы */
}

/* Стили для картинки */
img {
    align-items: center; 
    display: block; /* Блочный элемент, чтобы можно было управлять отступами */
    
    margin-top: -20px;
    max-width: 100%; /* Ограничение по ширине, чтобы не выходила за границы контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
   
}

/* Стили для текстовых блоков */
p {
    font-size: 27px; /* Размер шрифта */
    color: #253237; /* Цвет текста */
    
}.text1 {
    margin-top: -100px;
    font-size: 84px;
    color: #253237;
    font-weight:normal;
}
.text2 {
    margin-top: -100px;
    font-size: 27px;
    color: #253237;
    font-style:normal;
} 



/* Общие стили для кнопок */
button {
    
    padding: 10px 25px; /* Внутренние отступы внутри кнопки */
    
    font-size: 21px; /* Размер шрифта на кнопке */
    cursor: pointer; /* Курсор при наведении — указатель */
    background-color: #E0FBFC; /* Цвет фона кнопки */
    color: #253237; /* Цвет текста на кнопке */
    font-family: Involve, sans-serif;
    border-width: 1.5px;
    border-color: #253237;
    border-radius: 16px; /* Скругление углов кнопки */
    
}
.button1 {
     padding: 10px 40px; 
     margin-top: -10px;
}

/* Эффект при наведении на кнопку */
button:hover {
    background-color: #92C4C3; /* Цвет при наведении */
    border-color: #92C4C3;
}
.container {
  display: flex;
    flex-direction: column;
  align-items: center;     /* горизонтальное центрирование */
  text-align: center;      /* выравнивание текста по центру внутри элементов */
}