/* Общие стили для тела страницы */
body {
    font-family: Involve, sans-serif; /* Шрифт страницы */
    margin: 20px; /* Отступы вокруг содержимого */
    background-color: #E0FBFC; /* Цвет фона страницы */
}

/* Стили для текстовых блоков */
p {
    font-size: 20px; /* Размер шрифта */
    color: #253237; /* Цвет текста */
    
}.text1 {
    margin-top: 20;
    font-size: 84px;
    color: #253237;
    font-weight:normal;
}
.text2 {
    margin-top: -100px;
    font-size: 27px;
    color: #253237;
    font-style:normal;
} 

.text3 {
    margin-top: 10px;
    font-size: 20px;
    color: #253237;
    font-style:normal;
} 


/* Общие стили для кнопок */
button {
    
    padding: 10px 25px; /* Внутренние отступы внутри кнопки */
    
    font-size: 21px; /* Размер шрифта на кнопке */
    cursor: pointer; /* Курсор при наведении — указатель */
    background-color: #E0FBFC; /* Цвет фона кнопки */
    color: #253237; /* Цвет текста на кнопке */
    font-family: Involve, sans-serif;
    border-width: 1.5px;
    border-color: #253237;
    border-radius: 16px; /* Скругление углов кнопки */
    
}
.button1 {
     margin-top: 30px;
}


/* Эффект при наведении на кнопку */
button:hover {
    background-color: #92C4C3; /* Цвет при наведении */
    border-color: #92C4C3;
}
.container {
  display: flex;
    flex-direction: column;
  align-items: center;     /* горизонтальное центрирование */
  text-align: center;      /* выравнивание текста по центру внутри элементов */
}

.mounthcontainer {
  display: flex;
    flex-direction: column;
  align-items: center;     /* горизонтальное центрирование */
  text-align: center;      /* выравнивание текста по центру внутри элементов */
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;     /* горизонтальное центрирование */
  text-align: center;  
  #scrolly  
  {
    width: 1000px;
    height: 190px;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap
  }
      
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;     /* горизонтальное центрирование */
  text-align: center;  
    
      
}

/* Каждый ряд с 4 кнопками */
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.time-button:last-child {
  margin-right: 0;
}

/* Контейнер для рядов времени с вертикальной прокруткой */
.time-rows {
  max-height: 120px; /* ограничение по высоте для вертикальной прокрутки */
  overflow-y: auto;
 /* width: 17%;*/
  padding: 10px;
  box-sizing: content-box;
margin-left: auto;
margin-right: auto;
}
/* скрытие скроллбаров для WebKit-браузеров */
  .time-rows::-webkit-scrollbar {
    display: none;
  }

/* Каждый ряд с 4 кнопками */
.row {
  display: flex;
  justify-content:space-evenly;
  margin-bottom: 10px;
}

/* Стиль кнопок времени */
.time-button {
  padding: 6px;
  font-size: 14px;
  border-radius: 10px;
}

.time-button:last-child {
  margin-right: 0;
}

.container4 {
  width: 600px; /* ширина блока */
  height: 200px; /* высота блока */
  display: flex;
  align-items: center;
}



.scroll-area::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.item {
  min-width: 100px; /* ширина каждого элемента */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.generalconteiner
{
    display: flex;  
    justify-content: center;  
    align-items: center;
    width: 310px;
    margin-left:auto;
    margin-right: auto;
}
  /* Обертка с фиксированной шириной и скрытым скроллбаром */
  .scroll-wrapper {
    align-items: center;
    width: 250px;
    overflow-x: auto; /* разрешить прокрутку */
    margin-left:auto;
    margin-right: auto;
    white-space: nowrap; /* все элементы в одну линию */
    scrollbar-width: none; /* Firefox */
  }
  /* скрытие скроллбаров для WebKit-браузеров */
  .scroll-wrapper::-webkit-scrollbar {
    display: none;
  }

  /* Внутренний контейнер с шириной больше, чем обертка */
  #scrollContainer {
    display: flex;
    align-items: center;
    width: 500px; /* ширина содержимого */
  }

  .datebutton {
    padding: 6px;
    size: 20px 10px;
    font-size: 21px; /* Размер шрифта на кнопке */
    cursor: pointer; /* Курсор при наведении — указатель */
    background-color: #E0FBFC; /* Цвет фона кнопки */
    color: #92C4C3; /* Цвет текста на кнопке */
    font-family: Involve, sans-serif;
    font-size: 21px;
    border-width: 0; 
}
  .workdatebutton {
    padding: 6px;
    size: 20px 10px;
    font-size: 21px; /* Размер шрифта на кнопке */
    cursor: pointer; /* Курсор при наведении — указатель */
    background-color: #E0FBFC; /* Цвет фона кнопки */
    color: #253237; /* Цвет текста на кнопке */
    font-family: Involve, sans-serif;
    font-size: 21px;
    border-width: 0; 
}
  .arrowbutton {
    padding: 6px;
    size: 20px 10px;
    font-size: 21px; /* Размер шрифта на кнопке */
    cursor: pointer; /* Курсор при наведении — указатель */
    background-color: #E0FBFC; /* Цвет фона кнопки */
    color: #253237; /* Цвет текста на кнопке */
    font-family: Involve, sans-serif;
    font-size: 21px;
    border-width: 0; 
}

.datebutton:hover {
    background-color: #dafafb; /* Цвет фона кнопки */
}
