/* Общие стили для тела страницы */
body {
    font-family: Involve, sans-serif; /* Шрифт страницы */
    margin: 20px; /* Отступы вокруг содержимого */
    background-color: #E0FBFC; /* Цвет фона страницы */
}

/* Стили для картинки */

/* Стили для текстовых блоков */
p {
    font-size: 20px; /* Размер шрифта */
    color: #253237; /* Цвет текста */
    
}.text1 {
    margin-top: 20;
    font-size: 84px;
    color: #253237;
    font-weight:normal;
}
.text2 {
    margin-top: -100px;
    font-size: 27px;
    color: #253237;
    font-style:normal;
} 

.text3 {
    margin-top: 10px;
    font-size: 20px;
    color: #253237;
    font-style:normal;
} 

input {
    size: 20px 20px;
    cursor: pointer; /* Курсор при наведении — указатель */
    background-color: #E0FBFC; /* Цвет фона кнопки */
    border-width: 1.5px;
    border-color: #253237;
    border-radius: 4px; /* Скругление углов кнопки */
}

input:before
{
  size: 20px 20px;
    cursor: pointer; /* Курсор при наведении — указатель */
    background-color: #E0FBFC; /* Цвет фона кнопки */
    border-width: 1.5px;
    border-color: #253237;
    border-radius: 4px; /* Скругление углов кнопки */
}

/* Общие стили для кнопок */
button {
    
    padding: 10px 25px; /* Внутренние отступы внутри кнопки */
    
    font-size: 21px; /* Размер шрифта на кнопке */
    cursor: pointer; /* Курсор при наведении — указатель */
    background-color: #E0FBFC; /* Цвет фона кнопки */
    color: #253237; /* Цвет текста на кнопке */
    font-family: Involve, sans-serif;
    border-width: 1.5px;
    border-color: #253237;
    border-radius: 16px; /* Скругление углов кнопки */
    
}
.button1 {
     margin-top: 30px;
}

/* Эффект при наведении на кнопку */
button:hover {
    background-color: #92C4C3; /* Цвет при наведении */
    border-color: #92C4C3;
}
.container {
  display: flex;
    flex-direction: column;
  align-items: center;     /* горизонтальное центрирование */
  text-align: center;      /* выравнивание текста по центру внутри элементов */
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;     /* горизонтальное центрирование */
  text-align: center;  
    
      
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;     /* горизонтальное центрирование */
  text-align: center;  
    
      
}


